<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/images/logo-light.png" alt="logo" width="264" height="78"></a>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li><h2>Information</h2></li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/testimonials">Reviews</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
                <ul>
                    <li><h2>Services</h2></li>
                    <li>Exterior Lighting</li>
                    <li>Interior Lighting</li>
                    <li>Event Light Setup</li>
                    <li>Custom Art</li>
                </ul>
                <ul>
                    <li><h2>Contact</h2></li>
                    <li><a href="/contact">We are based in <br>Morro Bay, CA 93442</a></li>
                    <li><a href="tel:805-316-5030">T: (805) 316-5030</a></li>
                    <li><a href="mailto:litcolab@gmail.com">Click to Email</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="" target="_blank" rel="noopener">K.I.T.</a>
        <span class="copyright"> Copyright 2022 - Present</span>
    </div>
</footer>