---
layout: 'base.html'
description: "Enhance the beauty and functionality of your outdoor spaces with our professional exterior lighting design."
metaTitle: 'About Idolights company and the work we do'
tagTitle: 'I Do Lights | Lighting Services | San Luis Obispo County California'
permalink: 'about/'
---

{% block preload %}
<link rel="preload" as="image" href="/assets/images/cabinets2-m.jpg">
{% endblock %}

{% block pageCSS %}
<link rel="stylesheet" href="/css/about.css">
{% endblock %}

<!-- Enter html code below -->

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">About Us</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="cabinets" width="400" height="662">
    </picture>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-left">
            <picture class="cs-picture cs-picture1" aria-hidden="true">
                <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/cabinets2.jpg" alt="house" width="522" height="581">
            </picture>
            <picture class="cs-picture cs-picture2" aria-hidden="true">
                <source media="(max-width: 600px)" srcset="/assets/images/construction.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/construction.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/construction.jpg" alt="house" width="414" height="400">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-right">
            <span class="cs-topper">About Us</span>
            <h2 class="cs-title">(I Do Lights)</h2>
            <p class="cs-text" style="text-indent: 50px;">
                Thank you for visiting IdoLights.com, where we specialize in providing top-quality exterior lighting solutions for homes and businesses.
                With years of experience in the industry, we have worked on countless projects and events, 
                and have honed our skills in creating custom tailored solutions that meet the unique needs and preferences of our clients.
            </p>
            <p class="cs-text" style="text-indent: 50px;">
                Our team is passionate about what we do, and we take pride in the work that we deliver.
                We understand that lighting can have a huge impact on the look and feel of a space, 
                and we are dedicated to helping our clients transform their outdoor areas into beautiful 
                and inviting places that they can enjoy for years to come.
            </p>
            <div class="cs-flex-group">
                <p class="cs-flex-p" style="text-indent: 50px;">
                    Whether you are looking to enhance the curb appeal of your home, 
                    create a welcoming atmosphere for your business, 
                    or create a stunning visual display for a special event, 
                    we have the expertise and resources to help you achieve your goals. 
                    Contact us today to learn more about our services 
                    and how we can help bring your vision to life!
                </p>
                <span class="cs-name">Nikita Foxen</span>
                <span class="cs-job">CEO-Founder</span>
                <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
            </div>
            <a href="" class="button-solid">More About Us</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">Get It Done <br> With Us Today</h2>
        <p>
            Take the first step towards lighting up your dream project by requesting an estimate now!
        </p>
        <a href="/contact" class="button-solid">Free Estimate</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" width="1920" height="1280">
        </picture>
</section>